body {
    background-color: #202124;
    color: #E8EAED;
    font-family: arial, sans-serif;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
}

.principal {
    background-color: #E8EAED;
    color: #202124;
    border-radius: 5px;
    box-shadow: 1px 1px 4px;
    margin: 20px 200px 20px 200px;
    padding: 10px;
}

.meio {
    background-color: #E8EAED;
    color: #202124;
    border-radius: 5px;
    box-shadow: 1px 1px 4px;
    margin: 0px 200px;
    padding: 20px;
}

.botao {
    background-color: #7c7d8360;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 0.3px 0.3px 3px;
}

.botao:hover {
    background-color: #929499;
    transition: 0.3s;
}