body{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

button{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    transition: all 0.4s;
}

button:hover{
    background-color: white;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.4);
}