body{
    background-color: rgb(155, 201, 154);
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

button, input{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}