@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --margin: 8px;
    --padding: 8px;
    --border-radius: 24px;

    --background-ligth: #F5F5F7;
    --background-dark: #111111;
    --background-card-light: #FFFFFF;
    
    --color: #309BE2;
    --font-color: #1F1F1F;
    --font-size: 12px;
    --drop-shadow-color: rgba(0, 0, 0, 0.25);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}