.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.container-content {
    transition: all ease-in-out 0.2s;
    width: 250px;
    height: 360px;
    box-shadow: 0px 4px 20px var(--drop-shadow-color);
    border-radius: var(--border-radius);
    margin: calc(3 * var(--margin));
    padding: calc(3 * var(--padding));
    background-color: var(--background-card-light);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content-img-image {
    width: fit-content;
    height: fit-content;
}

.container-content h2 {
    margin-top: calc(2 * var(--margin));
    color: var(--font-color);
}

.container-content-desc {
    margin-top: calc(2 * var(--margin));
    color: var(--font-color);
}

.container-content-text-price {
    color: var(--color);
    font-weight: bold;
    margin-top: calc(2 * var(--margin));
}

.container-content:hover {
    transition: all ease-in-out 0.1s;
    transform: scale(1.01);
    box-shadow: 0px 4px 40px var(--drop-shadow-color);
}