body {
    background-image: radial-gradient(rgba(88, 136, 49, 0.568), rgba(189, 201, 120, 0.61));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 5px;
    border: solid 1px black;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
    transition: 0.3s;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.479);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.425);
    transition: 0.3s;
    cursor: pointer;
}

button {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
    transition: 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.534);
    transition: 0.3s;
    cursor: pointer;
}

.vetor {
    background-color: rgba(255, 255, 255, 0.548);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.658);
    transition: 0.3s;
}

.vetor:hover {
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.452);
    transition: 0.3s;
    cursor: pointer;
}

h1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
}