body {
    font-family: Arial, sans-serif;
    background-color: #202124;
    color: #DADCE0;
    text-align: center;
}

.inicio {
    background-color: #DADCE0;
    color: #202124;
    border-radius: 5px;
    padding: 10px;
    margin: 50px 400px;
}

.centro {
    background-color: #DADCE0;
    color: #202124;
    border-radius: 5px;
    padding: 20px;
    margin: 50px 500px;
    font-weight: 600;
}

.botao{
    border-radius: 5px;
    border-style: line 0.5px;
    border-width: 0.5px;
    box-shadow: 0.5px 0.5px 2px #202124;
}

.botao:hover{
    color: #DADCE0;
    background-color: #20212481;
    transition: 0.3s;
}