body {
    background-image: linear-gradient(#F2F5A0, #B1FA96);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

input, button {
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    width: auto;
    height: auto;
    transition: all 0.3s;
    margin: 10px;
    padding: 10px;
}

input:hover, button:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.651);
    cursor: pointer;
}